<div class="container m-5">
    <div class="row">
        <div class="col-sm-12">
            <div class="card mb-3 mx-auto" style="width: 50rem;"
            *ngIf="product != null">
                <img 
                    src="https://p.bigstockphoto.com/vVu7XprxSayr867oA3KQ_bigstock-Colorful-fruit-pattern-of-fres-282127069.jpg" 
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text fw-bold">{{product.price}} EG</p>

                    <div class="accordion mb-3" >
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" 
                                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" 
                                    aria-controls="panelsStayOpen-collapseOne">
                                    Description
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse " aria-labelledby="panelsStayOpen-headingOne">
                                <div class="accordion-body">
                                  <strong>{{ product.description }}</strong>
                                </div>
                              </div>
                        </div>
                    </div>

                  <button class="btn btn-primary btn-lg form-control form-control-lg"
                  (click)="addToUser()">Add to Cart</button>
                </div>
              </div>
        </div>

    </div>
</div>