<div class="container p-4">
    <div class="btn-group d-grid gap-2" role="group">
  
        <a routerLink="/adminPage/addNewCategory" routerLinkActive="active" class="btn btn-secondary stretched-link">Add New Category</a>
        <a routerLink="/adminPage/addNewProduct" routerLinkActive="active" class="btn btn-secondary stretched-link">Add New Product</a>
        <a routerLink="/adminPage/editCategory" routerLinkActive="active" class="btn btn-secondary stretched-link">Edit Category</a>
        <a routerLink="/adminPage/editProduct" routerLinkActive="active" class="btn btn-secondary stretched-link">Edit Product</a>
        <a routerLink="/adminPage/deleteCategory" routerLinkActive="active" class="btn btn-secondary stretched-link">Delete Category</a>
        <a routerLink="/adminPage/deleteProduct" routerLinkActive="active" class="btn btn-secondary stretched-link">Delete Product</a>
        
    </div>
</div>

