<section class="gradient-custom">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration Form</h3>
                        <form [formGroup]="signUpForm" (ngSubmit)="submitRegistration()" novalidate>

                            <p *ngIf="validMessage != ''">{{ validMessage }}</p>
                            <div class="row">
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <label class="form-label" for="firstName">First Name</label>
                                        <input type="text" 
                                            id="firstName" 
                                            class="form-control form-control-lg"
                                            formControlName="first_name" 
                                            required autofocus/>   
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <label class="form-label" for="lastName">Last Name</label>
                                        <input type="text" 
                                            id="lastName" 
                                            class="form-control form-control-lg" 
                                            formControlName="last_name"
                                            required/>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4 d-flex align-items-center">

                                    <div class="form-outline datepicker w-100">
                                        <label for="birthdayDate" class="form-label">Birthday</label>
                                        <input type="date" 
                                        class="form-control form-control-lg" 
                                        id="birthdayDate"
                                        formControlName="birthday" 
                                        required/>
                                    </div>

                                </div>

                                <div class="col-md-6 mb-4">

                                    <h6 class="mb-2 pb-1">Gender: </h6>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="femaleGender">Female</label>
                                        <input class="form-check-input" type="radio" name="gender" id="femaleGender"
                                        value="option1" formControlName="gender" checked />
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="maleGender">Male</label>
                                        <input class="form-check-input" type="radio" name="gender" id="maleGender"
                                        value="option2" formControlName="gender"/>  
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="otherGender">Other</label>
                                        <input class="form-check-input" type="radio" name="gender"
                                        id="otherGender" value="option3" formControlName="gender"/>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">

                                    <div class="form-outline">
                                        <label class="form-label" for="email">Email</label>
                                        <input type="email" 
                                            id="email" 
                                            class="form-control form-control-lg"
                                            formControlName="email" 
                                            required/>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4 pb-2">

                                    <div class="form-outline">
                                        <label class="form-label" for="phone">Phone Number</label>
                                        <input type="tel" 
                                            id="phone" 
                                            class="form-control form-control-lg"
                                            formControlName="phone" 
                                            required/>                                        
                                    </div>

                                </div>

                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <label class="form-label" for="address">Address</label>
                                        <input type="text" 
                                            id="address" 
                                            class="form-control form-control-lg" 
                                            formControlName="address"
                                            required/>
                                    </div>

                                </div>

                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <label class="form-label" for="country">Country</label>
                                        <input type="text" 
                                            id="country" 
                                            class="form-control form-control-lg" 
                                            formControlName="country"
                                            required/>
                                    </div>

                                </div>

                                <div class="col-md-6 mb-4 mx-auto">

                                    <div class="form-outline text-center">
                                        <label class="form-label" for="password">Password</label>
                                        <input type="password" 
                                            id="password" 
                                            class="form-control form-control-lg" 
                                            formControlName="password"
                                            required/>
                                    </div>

                                </div>

                                <div class="col-md-12 mb-4">
                                    <div class="form-outline d-grid mt-4 pt-2">
                                        <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
                                    </div>
                                </div>

                            </div>

                            

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
